.upload-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f7fa;
}
  
  .upload-box {
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .upload-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .file-input {
    margin-bottom: 1rem;
    padding: 8px;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #0055ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #003cb3;
  }
  
  .file-name {
    margin-top: 1rem;
    font-size: 14px;
    color: #444;
  }
  